<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.wcedla.selltea">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".ShowSearchWindowActivity" />
        <activity android:name=".GoodsDetialActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ConfirmToBuyActivity" />
        <activity android:name=".AdressManageActivity" />
        <activity android:name=".AdressEditActivity" />
        <activity android:name=".EditPasswordActivity" />
        <activity android:name=".TeaBIllActivity" />
        <activity android:name=".BillDetialShowActivity" />
        <activity android:name=".AppStartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>